  li {
    padding: .2rem;   
    background: transparent;
  }
  img{
    width: 15rem;
    height: 15rem;
    border-radius: 4rem;
  }
  .label {
    font-weight: bold;
  }

  ::marker {
    color: transparent;
}

  h2,
  h1 {
    padding: .2rem;   
    background-color: snow;
    border-radius: 4rem;    
  }

  ul{
    padding: 1rem;
  }

  button {
    background: white;
    border-width: .5rem;
    border-color: rgb(187, 247, 187);
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-radius: 2rem;

  } 
  
  .create-form {
    padding: 2rem;
    background: rgba(253, 253, 140, 0.959);
    border-radius: 70rem;
    font-size: x-large;
    color: black
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  body {
    background-color: rgb(255, 206, 214);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: rgb(197, 117, 197);
    font-family: 'Indie Flower', cursive;
  }
  
  .container {
    margin-left: 20rem;
    margin-right: 20rem;
  }